@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lexend', sans-serif;
	height: 100vh;
    width: 110vh;
	margin: 0;
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
	max-width: 600px;
	border-radius: 30px;
}

main {
	text-align: center;
}

button {
	border: 0;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 16px;
    border-radius: 10px;
	background: rgb(16, 75, 134);
	color: rgb(255, 203, 5);
    font-family: 'Lexend', sans-serif;
	margin: 20px 0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background: rgb(48, 108, 180);
}
